<!-- full-page center alignment -->
<div class="d-flex justify-content-center align-items-center vh-100">
  <!-- card container for form with padding and width  -->
  <div class="card p-4" style="max-width: 400px; width: 100%;">
    <!-- section header -->
    <h2 class="text-center">Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <!-- render error messages -->
      <%= render "devise/shared/error_messages", resource: resource %>

      <!-- email field -->
      <div class="mb-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>
          Currently waiting confirmation for: <%= resource.unconfirmed_email %>
        </div>
      <% end %>

      <!-- password field -->
      <div class="mb-3">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <% if @minimum_password_length %>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <!-- password confirmation field -->
      <div class="mb-3">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <!-- current password field -->
      <div class="mb-3">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", required: true %>
      </div>

      <!-- submit button -->
      <div>
        <%= f.submit "Update" %>
      </div>
    <% end %>

    <!-- account cancellation section -->
    <div class="mt-4 text-center">
      <h3>Cancel my account</h3>
      <p>Unhappy?</p>
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
      <br />
      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
